
@use '../variables' as vars;

// Confirmation Section
.confirmationSection {
  border: vars.$border-width-large solid vars.$color-success;

  .row {
    border-bottom: vars.$border-width;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .confirmationHeading {
    font-size: 1.2rem;
    text-align: center;
  }

  .confirmationMessage {
    font-weight: 600;
  }
}
