@use "variables" as vars;

:root {
  font-family: vars.$font-family-base;
  line-height: vars.$line-height-base;
  font-weight: vars.$font-weight-regular;

  color: vars.$color-black;
  background: vars.$color-white;
}


*, *::before, *::after
{
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
body {
  margin: 0;
}

header, main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

}

@media (max-width: 1200px) {
  header, main, footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }


}