:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background: white;
}


*, *::before, *::after
{
  box-sizing: border-box;
}
body {
  margin: 0;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
