:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background: white;
}


*, *::before, *::after
{
  box-sizing: border-box;
}
body {
  margin: 0;
}

header, main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

}

@media (max-width: 1200px) {
  header, main {
    padding-left: 16px;
    padding-right: 16px;
  }
}