#category-section {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h2 {
    margin-bottom: 0;
    font-size: 2rem;
  }
}

#category-container {
  display: flex;
  gap: 1rem;

  .categoryBox {
    border: 2px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

//DESKTOP
@media screen and (max-width: 991px) {
  #category-container {
    .categoryBox {
      width: 90px;
      height: 90px;
    }
  }
}

//MOBILE
@media screen and (max-width: 768px) {
  #category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
