// Confirmation Section
.confirmationSection {
  border: 4px solid green;

  .row {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .confirmationHeading {
    font-size: 1.2rem;
    text-align: center;
  }

  .confirmationMessage {
    font-weight: 600;
  }
}
