@use 'variables' as vars;

#bannerText {
  text-align: center;
  font-size: vars.$font-size-large;
  font-weight: vars.$font-weight-medium;
  line-height: vars.$line-height-base;
  margin: vars.$spacing-lg 0;
  letter-spacing: -0.01em;
  color: vars.$color-gray-dark;
}
#headerLogoText {
  font-weight: vars.$font-weight-regular;
  font-size: vars.$font-size-h1;
}
.headingLink {
  color: vars.$color-black;
  text-decoration: none;
  :hover {
    cursor: pointer;
  }
}

.nav {
  text-decoration: none;
}

#logo {
  font-weight: vars.$font-weight-bold;
}

.ulNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ulNav a {
  text-decoration: none;
  color: vars.$color-black;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-regular;
  letter-spacing: 0;
}

.ulNav img {
  height: 16px;
  width: 16px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: vars.$border-width-large solid vars.$color-black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  box-sizing: border-box;
}

.divNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  padding: 10px 5px;
  width: auto;
}

.divNav p {
  font-size: 48px;
  font-weight: vars.$font-weight-regular;
  margin: 0;
}

.container > .divNav:first-child {
  border-right: vars.$border-width-large solid vars.$color-black;
}

#left-container {
  display: flex;
  justify-content: center;
  gap: vars.$spacing-xl;
  padding: 0 2rem;
}

.headerHidden {
  display: none !important;
}

#hamburgerMenu {
  display: none;
}

#hamburgerButton {
  display: none;
}

.fa-solid {
  font-size: vars.$font-size-large;
}
//TABLET
@media screen and (max-width: 991px) {
  #bannerText {
    font-size: vars.$font-size-base;
  }

  .divNav {
    #headerLogoText {
      font-size: vars.$font-size-base;
      font-weight: vars.$font-weight-regular;
    }
    .logo {
      font-weight: vars.$font-weight-bold;
    }
  }
  .ulNav {
    li {
      display: none;
    }
    #cartLink {
      display: block;
    }
  }

  #hamburgerButton {
    display: block;
  }

  #hamburgerMenu {
    position: absolute;
    left: 0;
    width: 50%;
    margin-left: auto;
    border: vars.$border-width-large solid vars.$color-black;
    display: none;
    z-index: 9999;
    background: vars.$color-white;
    top: calc(100% - 3px);
    display: none;

    ul {
      list-style-type: none;
      margin: none;
      padding: 10px 20px;
    }
    a {
      color: black;
      text-decoration: none;

      &:hover {
        font-weight: 700;
        background: #f9f9f9;
      }
    }
  }

  #hamburgerMenu:not(.headerHidden) {
    display: flex;
    justify-content: flex-start;
  }

  #hamburgerMeny > #hamburgerMeny a {
    //this should be refactored since copied from above (mixin? extending?)
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

//MOBILE
@media screen and (max-width: 768px) {
  #bannerText {
    font-size: 1rem;
  }



  .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .divNav {
    width: 46vw;

   #headerLogoText {
      font-size: 14px;
    }
  }


  #left-container {
    padding: 0 0.4rem;
  }
}
