#headerText {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin: 20px 0;
  letter-spacing: -0.01em;
  color: #2c2825;
}

.nav {
  text-decoration: none;
}

#logo {
  font-weight: 700;
}

.ulNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.ulNav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.ulNav img {
  height: 16px;
  width: 16px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid #000;
  display: flex;
  align-items: stretch;
}

.divNav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 5px;
}

.divNav p {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}


.container > .divNav:first-child {
  border-right: 3px solid #000;
}

