//Hero section



.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 3px solid black;
  padding: 20px;

  .hero__img {
    width: 100%;
    max-width: 1100px;
    height: auto;
    display: block;
    border: 1px solid #000;
  }

  .hero__buttons {
    display: flex;
    gap: 18px;

  
  }

  .btn {
    padding: 10px 22px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #000;
    text-transform: uppercase;
    cursor: pointer;

  
  }
}

// Product Card Section
#product-card-section {
  margin-top: 20px;      
  
  box-sizing: border-box;
 

  

  #product-card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;

    .productCard {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 2px solid black;
      padding: 1rem;
      background-color: #fff;

      &:hover {
        cursor: pointer;
        background-color: rgba(86, 86, 86, 0.155);
        
      }

      .productImgContainer {
        width: 100%;
        aspect-ratio: 1 / 1;
        border: solid 2px black;
        display: flex;
        justify-content: center;
        background-color: white;

        .productCardImg {
          width: 70%;
          height: auto;
          object-fit: contain;
        }
      }

      .productCardCategory {
        width: 100px;
        padding: 0.3rem;
        border: solid 1px black;
        background-color: rgb(227, 119, 119);
      }

      .productCardName {
        text-align: left;
      }
      .productCardDescription {
        font-size: 1rem;
        text-align: left;
      }

      .buyContainer {
        display: flex;
        justify-content: space-between;

        .productCardButton {
          background-color: white;
          box-shadow: 0px 1px 6px black;

          &:hover {
            cursor: pointer;
            background-color: blue;
            color: white;
          }
        }
      }
    }
  }
}
