@use "./base";
@use "./header";
@use "./footer";
@use "./landingPage";
@use "./form";
@use "./checkoutCart";
@use "./checkoutConfirmation";

main {
  max-width: 1200px;
  width: calc(100% - 64px);
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 320px;
  align-items: start;

  .left {
    min-width: 0;
  }

  .right {
    position: sticky;
    top: 20px;
  }
}
